#Contain_PC {
    /* PC */
}

#Contain_PC .Title {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

#Contain_PC .SubTitle {
    margin: 10px 0 0 0;
    text-align: center;
    font-weight: 400;
    line-height: 1.8;
}

#Contain_Tablet {
    /* Tablet */
}

#Contain_Tablet .Title {
    text-align: center;
    font-size: 2.5vw;
    font-weight: bold;
}

#Contain_Tablet .SubTitle {
    margin: 10px 0 0 0;
    font-size: 1.5vw;
    text-align: center;
    font-weight: 400;
    line-height: 1.8;
}

#Contain_Mobile {
    /* Mobile */
}

#Contain_Mobile .Title {
    text-align: center;
    font-size: 3.5vw;
    font-weight: bold;
}

#Contain_Mobile .SubTitle {
    margin: 10px 0 0 0;
    font-size: 2vw;
    text-align: center;
    font-weight: 400;
    line-height: 1.8;
}
