.Contain {
    /* background-color: aqua; */
    padding: 20px;
    width: 700px;
    height: 680px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    border: solid gray;
}

.ButtonArea {
    /* background-color: coral; */
    width: 100%;
    height: 80px;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CheckBoxPosition {
    margin-left: 10px;
}

.TextMargin {
    margin-top: 20px;
}

.WarningText {
    margin-left: 10px;
    color: red;
}
