#Contain {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 6;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#Contain .MenuPannel {
    flex: 1;
    position: absolute;
    overflow: hidden;
    z-index: 6;
    top: 0;
    right: 0;
    padding: 100px 25px 25px 25px;
    height: 100%;
    background-color: #222;
    max-width: 500px;
    width: 100vw;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#Contain .Top {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

#Contain .Top .Login {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

#Contain .Top .Login .Title {
    font-weight: bold;
    font-size: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#Contain .Top .point {
    color: #fff;
    background-color: #2d478b;
    border: 0;
    border-radius: 5px;
}

#Contain .Top .point:hover {
    background-color: #316db1;
}

#Contain .Top .SignUp {
    color: #fff;
    background-color: #d95c51;
    border: 0;
    border-radius: 5px;
}

#Contain .Top .SignUp:hover {
    background-color: #d96c51;
}

#Contain .Bottom {
    max-width: 500px;
    color: #fff;
    padding: 30px 0 0 0;
}

#Contain .Bottom .Contain {
    padding: 15px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#Contain .Bottom .Contain .Title {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

#Contain .Bottom .Contain .Admin {
    margin: 0 0 0 10px;
    padding: 5px 10px 5px 10px;
    color: #fff;
    background-color: #2d478b;
    border-radius: 20px;
    cursor: pointer;
}

#Contain .menuitem {
    max-width: 500px;
    margin: 0;
    position: relative;
    border-bottom: 1px solid #fff;
}

#Contain .menuitem .menuTitle {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'S-CoreDream-5';
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    line-height: inherit;
    cursor: pointer;
    color: #fff;
}

#Contain .menuitem .menuTitle:hover {
    background-color: #2d478b;
}

#Contain .menuitem .SubMenuContain {
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#Contain.menuitem .SubMenuContain:hover {
    color: green;
}

#Contain .submenu {
    font-family: 'S-CoreDream-5';
    font-weight: 300;
    color: #fff;
}

.submenuitem {
    cursor: pointer;
    padding: 15px 30px;
    text-align: left;
    font-weight: 300;
    text-transform: none;
}
.submenuitem:hover {
    color: green;
}
