.Layout {
	min-height: 90vh;
}

.Breadcrumb {
	text-align: right;
}
.Content {
	padding: 0;
	background: #fff;
	width: 100%;
	margin: 0 auto;
	min-height: 90vh;
}

.Footer {
	border-top: 1px solid #cdcdcd;
	background: #333;
	color: #fff;
	min-height: 10vh;
	text-align: center;
	font-size: 15px;
	line-height: 30px;
	padding: 30px 0;
	font-family: 'S-CoreDream-4';
}

.Footer_Row {
	margin: 0 auto;
	max-width: 1400px;
}
