.MemberSection {
	width: 1000px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
}

.MemberItem {
	width: 28%;
	box-shadow: 0px 0px 35px 0px rgb(0 0 0 / 8%);
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 20px 20px 20px 20px;
	padding: 40px 40px 40px 40px;
	text-align: center;
}

.MemberImagePane {
	margin: 0 auto;
	width: 100px;
	margin-bottom: 20px;
}
.MemberImage {
	border-radius: 100%;
}

.MemberName {
	font-size: 18px;
	margin-bottom: 6px;
	font-weight: bold;
}

.MemberPosition {
	margin-bottom: 6px;
	font-size: 14px;
}

.MemberSNS {
	font-size: 15x;
	display: flex;
	justify-content: center;
}

.SNSIcon {
	color: #888;
}
