.CarouselItem {
	position: relative;
}
.CarouselImage {
	margin: 0 auto;
	text-align: center;
	height: 350px;

	width: 100%;
	z-index: 5;
}
.CarouselContent {
	top: 0;
	z-index: 6;
	position: absolute;
	width: 100%;
	height: 350px;
	color: #eee;
	text-align: center;
	background: #333333cc;
	padding: 50px;
}
.CarouselContentTitle {
	margin-top: 50px;
}

.CarouselContentDecs {
	margin-top: 30px;
	font-size: 15px;
}

.TitleSection {
	margin-top: 60px;
	margin-bottom: 20px;
}
