.Contain {
    /* width: 100%; */
    /* min-width: 200px; */
    /* background-color: red; */
    width: 100vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FromWrapper {
    /* background-color: aqua; */
    /* width: 100%; */
    padding: 20px;
}

.Logo {
    margin-bottom: 10px;
    width: 230px;
}
