.Section {
	color: #3a3a3a;
	margin: 0 auto;
	padding: 0 30px;
	width: 1200px;
	text-align: center;
}
.Title {
	font-family: 'S-CoreDream-5';
	text-align: center;
	font-size: 35px;
	margin: 30px 0;
}

.Decs {
	text-align: center;
	font-size: 18px;
	margin-bottom: 50px;
}
