html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
@font-face {
	font-family: 'S-CoreDream-3';
	src: url('/resource/fonts/SCDream3.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'S-CoreDream-4';
	src: url('/resource/fonts/SCDream4.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'S-CoreDream-5';
	src: url('/resource/fonts/SCDream5.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'S-CoreDream-6';
	src: url('/resource/fonts/SCDream6.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'S-CoreDream-7';
	src: url('/resource/fonts/SCDream7.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'S-CoreDream-9';
	src: url('/resource/fonts/SCDream8.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
html,
body {
	padding: 0;
	margin: 0;
	font-family: 'S-CoreDream-4', 'Noto Sans KR', 'Apple SD Gothic Neo', 'Malgun Gothic', 'Nanum Gothic', 'Noto Sans',
		'sans-serif';
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.btn-Content {
	height: 40px;
	width: 100px;
	border-radius: 0;
	text-align: center;
	font-size: 16px;
	padding: 5px 5px;
	margin: 0 10px;
	border-radius: 5px;
	background-color: #343a40;
	font-weight: bold;
	color: #fff;
}
.btn-Content:hover {
	color: #ccc;
}
.btn-Content.active {
	border-bottom: 4px solid var(--menu-subbt-bar-active);
}
.btn-Content:focus {
	outline: none !important;
	box-shadow: none !important;
}

.ExamCarousel .carousel-control-prev,
.ExamCarousel .carousel-control-next {
	display: none;
}

.btn-ansbt {
	text-align: left;
	width: 900px;
	height: 55px;
	border-radius: 0;
	font-size: 24px;
	padding: 5px 25px;
	margin: 10px auto;
	border-radius: 5px;
	background-color: #ecf0f1;
	color: #444;
}
.btn-ansbt:hover {
	background-color: #2a477c;
	color: #fff;
}
.btn-ansbt.active {
	border-bottom: 4px solid var(--menu-subbt-bar-active);
}
.btn-ansbt:focus {
	outline: none !important;
	box-shadow: none !important;
}

.btn-alret {
	height: 40px;
	width: 100px;
	border-radius: 0;
	text-align: center;
	font-size: 16px;
	padding: 5px 5px;
	margin: 0 10px;
	border-radius: 5px;
	background-color: #2a477c;
	color: #fff;
}
.btn-alret:hover {
	color: #ccc;
}

.btn-Mobile_submenu {
	text-align: left;
	border-bottom: solid 1px #ddd;
	font-family: "S-CoreDream-4";
	border-radius: 0;
	font-size: 3vw;
	color: #555;
}
